.button {
  width: 3rem;
  height: 1.5rem;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  background-color: transparent;
  border: none;
  z-index: 4;
  cursor: pointer;
}
.icon,
.icon::after,
.icon::before {
  width: 3rem;
  height: 0.5rem;
  background-color: #788402;
  position: absolute;
}
.icon::after {
  content: "";
  top: -0.9rem;
  right: 0rem;
}
.icon::before {
  content: "";
  top: 0.9rem;
  right: 0rem;
}
.logo {
  display: none;
}
.links {
  width: 70vw;
  height: 100vh;
  background-color: #feaa00;
  position: fixed;
  right: -70vw;
  transition: 1s all;
  z-index: 10;
  top: 0;
}
.show {
  right: 0;
}
.background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(83, 83, 83, 0.3);
  z-index: 1;
}
.links div:first-child {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  fill: #342628;
  cursor: pointer;
}
.links ul {
  margin: 7rem 0;
}
.links ul li:not(:first-child) {
  margin-top: 3rem;
  padding-inline: 1.5rem;
}
.links ul li a {
  color: #342628;
  font-size: 1.3rem;
  font-weight: 600;
}
.links div:last-child {
  display: flex;
  justify-content: center;
  gap: 7rem;
}
.links button {
  background-color: transparent;
  border: none;
  color: #4a9104;
  font-weight: 800;
  font-size: 1.8rem;
  cursor: pointer;
  border-bottom: 4px solid transparent;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form input {
  padding: 10px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #e0e0e0;
  background: #f7f7f7;
  color: #7f7f7f;
  line-height: 1.47;
  font-size: 1.5rem;
  width: 51vw;
}
.form input:focus {
  outline: none;
}
.form button {
  fill: #f7f4ef;
  background-color: #788402;
  border-radius: 0 5px 5px 0;
  padding: 8.5px 1.5rem 6.5px;
  border: none;
  cursor: pointer;
}
@media (min-width: 700px) {
  .links {
    width: 35rem;
  }
  .form {
    width: 32rem;
    margin: 0 auto;
  }
}
@media (min-width: 1000px) {
  .nav {
    width: 98vw;
    height: 95px;
    position: absolute;
    top: 0;
  }
  .icon {
    display: none;
  }
  .logo {
    display: block;
  }
  .logo h1 {
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    color: #feaa00;
  }
  .links {
    background-color: transparent;
    right: 49%;
    transform: translate(50%, 0);
    top: 0;
    margin: 0 auto;
    width: 100rem;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
  }
  .links ul {
    display: flex;
    gap: 13rem;
    justify-content: center;
    align-items: center;
    margin: 2.5rem 0;
  }
  .links ul li:not(:first-child) {
    margin-top: 0;
    padding-inline: 0rem;
  }
  .links div:first-child {
    display: none;
  }
  .links button {
    font-weight: 700;
    font-size: 1.5rem;
  }
  .links div:last-child {
    gap: 2rem;
  }
  .links ul li a {
    color: #ffffff;
    font-size: 1.5rem;
  }
  .links ul li:first-child {
    width: 52rem;
    height: 4.5rem;
  }
  .form {
    width: 57rem;
  }
  .form input {
    line-height: 1.4667;
  }
  .form button {
    padding: 9px 1.5rem 5px;
    line-height: 1.4667;
  }
  .links ul li .grey{
    color:#7f7f7f
  }
}
