.home__container {
  height: 100vh;
  overflow: hidden;
}
.firstContainer {
  background: rgb(255, 166, 0);
  height: 53vh;
  width: 100vw;
  padding-top: 5rem;
  display: grid;
  gap: 2.5rem;
  place-content: center;
}
.secondContainer {
  height: 35vh;
}
.firstContainer h1 {
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
  height: 5rem;
  line-height: 40px;
  letter-spacing: 0.5em;
  color: #fff;
}
.firstContainer form {
  position: relative;
}
.firstContainer input {
  width: 30rem;
  padding: 15px 40px 15px 20px;
  border-radius: 8px;
  border: 1px solid #f7f7f7;
  background: #f7f7f7;
  color: #7f7f7f;
  line-height: 1.15;
  font-size: 1.2rem;
}
.firstContainer input:focus {
  outline: none;
}
.firstContainer button {
  fill: #7f7f7f;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
}
.firstContainer h3 {
  color: #7f7f7f;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  padding-left: 5px;
}
.link{
  list-style: none;
  color:white
}
.secondContainer {
  width: 100rem;
  margin: 0 auto;
}
.secondContainer h2 {
  font-size: 2rem;
  font-weight: 400;
  padding: 2rem;
}
@media (min-width:700px){
  .firstContainer{
    padding-top: 0rem;
  }
  .firstContainer h1 {
    font-size: 4rem;
  }
  .firstContainer input {
    width: 52rem;
  }
  .firstContainer{
    padding: 0 0 4rem 0;
  }
  .secondContainer h2 {
    font-size: 3.5rem;
  }
}