.container {
  margin: 4rem 2rem;
  padding: 1rem 2rem 3rem 2rem;
  border: 1px solid #e0e0e0;
  background-color: #fbfbfb;
  border-radius: 5px;
  min-height: 40rem;
}
.container h3 {
  font-size: 2.5rem;
  color: #7f7f7f;
  font-weight: 300;
  text-align: center;
}
.recipeContainer {
  display: grid;
  grid-template-columns: 1fr;
  padding: 2rem 0;
  gap: 2rem;
  justify-content: center;
}
.containerRecipe,
.recipe {
  color: #7f7f7f;
  width: 20rem;
  margin: 0 auto;
}
.favorite {
  color: #feaa00;
}
.recipe img {
  width: 20rem;
  margin: 0 auto;
  height: 15rem;
  border-radius: 5px;
  object-fit: cover;
}
.recipe h4 {
  text-align: center;
  padding: 1rem 1rem 0 1rem;
  font-size: 1.7rem;
  font-weight: 500;
}
.recipe h5 {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 300;
}
.error {
  padding: 5rem;
  color: #7f7f7f;
  margin: 0 auto;
  font-size: 1.5rem;
  grid-column: span 3;
}
.page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
}
.page div {
  padding: 2rem 0 1rem;
  color: #7f7f7f;
  font-size: 1.5rem;
  cursor: pointer;
}
.next {
  grid-area: 1/2;
  justify-self: right;
}
.previous {
  justify-self: left;
}
.page div:hover {
  text-decoration: underline;
}
@media (min-width: 700px) {
  .container {
    padding: 1rem 3rem 3rem 3rem;
  }
  .recipeContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .page {
    width: 59rem;
  }
}
@media (min-width: 1000px) {
  .container {
    width: 100rem;
    margin: 9rem auto 2rem;
    padding: 2rem;
  }
  .container h3 {
    display: none;
  }
  .recipeContainer {
    padding: 1.5rem 0 0;
  }
  .recipe {
    padding: 0;
  }
  .recipe h4 {
    padding: 0;
  }
  .page {
    width: 90rem;
    position: relative;
    bottom: 0rem;
  }
}
